h1{
    background-color: blue;
    color: white;
    padding: 10px;
}

.none{
    display: none;
}

.visibility{
    visibility:visible;
}

.opacity-1{
    opacity: 1;
}

.opacity-0{
    opacity: 0.2;
}

.opacity-0.5{
    opacity: 0;
}