/* TYPOGRAPHY
font-size, font-family,
font-stack, generic family,
google fonts */

body{
    font-size: 1.5rem;
    font-family: Verdana;
}

h1{
    font-family: 'Times New Roman';----> fontsize,font family
}

body{
    font-family: Verdana, Geneva, Tahoma, -------> font stack   sans-serif; ---->generic family
    
}
