*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    color: white;
    font-size: 3rem;
    height: 100px;
    background-color: blue;
    text-align: center;
}
.banner{
    
    min-height: calc(100vh - 100px);
    background-color: aqua;
}